/* styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://source.unsplash.com/1920x1080/?music") center/cover
    fixed;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  color: #333;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: #333;
}

/* Add specific styles for each card */
#freeCard {
  border: 2px solid #4caf50;
}

#goldCard {
  border: 2px solid #ffd700;
}

#platinumCard {
  border: 2px solid #e5e4e2;
}
